<h1>Burgers</h1>

<h2>Burgers not eaten</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers eaten</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="add-burger">Burger Name:</label>
    <input type="text" id="add-burger" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eaten?</label><br>
    <input type="radio" name="eaten" value="1" checked> Eaten!<br>
    <input type="radio" name="eaten" value="0"> Not Eaten
  </div>

  <button type="submit">Add Burger</button>
</form>
